.App {
  text-align: center;
  margin: 0;
  background-color: white;
}

.search {
  position:relative;
}

.resultado {
  background: #fff;
  padding-top: 5%;
}

.cards {
  padding-left: 5%;
  padding-top: 5%;
  background: #fff;
}

element.style {
  background: darkslategrey;
}
.searchBar {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 0;

}

.box-test {
  display: flex;
  flex-basis: 50%;
}

.inpt {
  flex: 3
}

.btn-test {
  flex:1
}

.searchBar .ant-btn {
  background: #001529;
  color: #ffff;
  border-color: #001529;
}