.App {
  text-align: center;
  margin: 0;
}

.search {
  position:relative;
}


element.style {
  background: darkslategrey;
}
.searchBar {
  background-color: white;
  padding: 0;
  height: auto;
}

.searchBar .ant-btn {
  background: #001529;
}